 <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar2">
            <div class="logo">
                <a href="/admin">
                    <img src="images/icon/logo-white.png" alt="Admin Page" />
                </a>
            </div>
            <div class="menu-sidebar2__content js-scrollbar1">
                <nav class="navbar-sidebar2">
                    <ul class="list-unstyled navbar__list">
                        <li>
                            <a href="/datatraining">
                                <i class="fas fa-upload"></i>Upload Data Training</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-file-text"></i>Upload AIML
                                <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="/aimlbaru">
                                        <i class=""></i>AIML Baru</a>
                                </li>
                                <li>
                                    <a href="/aimllama">
                                        <i class=""></i>AIML Lama</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/chatlog">
                                <i class="fas fa-list-alt"></i>Chat Log</a>
                        </li>
                        <li>
                            <a href="/logout">
                                <i class="fa fa-sign-out-alt"></i>Logout</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

