<html>
    <head>
        <title>Upload File Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='jquery.min.js')}}"></script>
        <link rel="stylesheet" media="screen" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
	    <link rel="stylesheet" media="screen" type="text/css" href="{{url_for('static',filename='css/login.css')}}">
    <!-- <link href="static/bootstrap.min.css" rel="stylesheet" media="screen"> -->
    </head>
    <body>
	    <div class="container">
            <form action="/upload" method="POST" enctype="multipart/form-data">
	            <h2 class="form-signin-heading">Upload File Page</h2>
				<div class="form-group"></div>
                <input type="file" class="form-control" name="aiml_file" placeholder="Upload your aiml file here"/>
                <input type="file" class="form-control" name="train_file" placeholder="Upload new train data"/>      
                <button class="btn btn-lg btn-primary btn-block" type="submit">Upload</button>
            </form>
		</div>
		{% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
    </body>
</html>